body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #3498db;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

#todoInput {
    padding: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #217dbb;
}


#ADD {
    text-align: center;
}